*{
    box-sizing: border-box;
}
header{
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
    height: 100vh;
    background: url("/assets/images/welcome/header-background.jpg") no-repeat;
    background-size: cover;
}

.header-text{
    max-width: 40vw;
}

.header-text h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.015em;

    color: #FFFBFB;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header-text h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

header .stats{
    position: absolute;
    bottom: 2.5vh;
    left: 5vw;
}

.stats div{
    margin-right: 5vw;
}

.stats h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stats span{
    font-size: 16px;
}

.company-mission{
    padding: 5vh 10vw;
    height: 350px;
    background: url("/assets/images/welcome/mission-image.png") no-repeat;
    background-position: 75% 50%;
}
.company-mission .mission-text{
    max-width: 30vw;
}

.mission-text h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;

    color: #000000;
}

.mission-text p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: -0.015em;

    color: #000000;
}

.outsourcing-benefits{
    padding: 5vh 15vw;
    height: 600px;
    background: linear-gradient(180deg, #0886AF 0%, #FFFFFF 100%);
}

.outsourcing-benefits .header-text{
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.benefit-box{
    margin: 5vh 5vw;
    width: 150px;
    height: 150px;
}

.benefit-box h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.experience{
    padding: 5vh 20vw;
    height: 600px;
    background: url("/assets/images/welcome/worldwide.jpg") no-repeat;
    background-position: 75% 50%;
}

.experience .experience-text{
    max-width: 30vw;
}

.header-lg-text{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: -0.015em;

    color: #000000;
}

.m-boxes{
    padding: 0 20vw;
    margin: 5vh auto;
    width: 100%;
}

.m-boxes .box{
    margin: 0;
    padding: 5vh 2vw;
    text-align: center;
    background: #f7fafc;
    box-shadow: 0px 4px 4px rgba(20, 124, 164, 0.5);
    text-align: center;
    font-family: Montserrat;
    font-style: normal;

}
.m-boxes .box:first-child{
    background: linear-gradient(180deg, rgba(251, 157, 117, 0.8) 0%, rgba(247, 247, 247, 0.8) 77.99%, rgba(255, 255, 255, 0.8) 99.99%, rgba(249, 115, 58, 0) 100%)
}

.m-boxes .box .header{
    font-size: 24px;
    line-height: 44px;
    font-weight: bold;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #000000;
}

.m-boxes .box .sub-header{
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #000000;
    max-width: 70%;
}

.m-boxes .box .link{
    margin: 5% auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #000000;
    max-width: 70%;
}

.technologies{
    width: 100%;
    height: 350px;
    background: #0B769F;
    padding: 10vh 10vw;
}
.technologies h4{
    text-align: center;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}

.technologies p{
    margin: 2vh 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}

.stacks{
    padding: 5vh 15vw;
}

.stacks .stack{
    padding: 2vh 3vh;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    max-width: 260px;
    margin: 0.5vw;
    min-height: 300px;
}
.stack h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.015em;

    color: #000000;
}

.stack p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}

.last-header{
    padding: 5vh;
    text-align: center;
}
.last-header h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.brands-box{
    margin: 1vh auto 5vh auto;
    padding: 3vh 0;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    width: 60vw;
}

.brands-box img{
    margin: 0 1vw;
}

footer  {
    margin-top: 10vh;
    padding: 2vw;
    background: #C4C4C4;
    min-height: 260px;
}

footer .logo{
    width: 150px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 0 5vw;
}

footer ul li h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;

    color: #000000;
}

footer ul li h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #000000;
}

footer ul li p{
    max-width: 10vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

/********************************* navigation **********************************/

nav{
    padding: 2vh 5vw;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    font-family: Montserrat;
}

nav ul li{
    margin-left: 0.5vw;
}

nav ul li::after{
    content: '|';
    color: #FFFFFF;
    margin-left: 0.5vw;
}

nav ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}


/************************ IT Outsourcing ************************/
.outsourcing{
    width: 100%;
    height: 55vh;
    margin: 0;
    padding: 5vw;
    background: url("/assets/images/outsourcing/outsourcing_header.jpg") no-repeat;
    background-size: cover;
}
.outsourcing h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: -0.015em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.outsourcing h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.posts-box{
    margin: 2vw;
    padding: 5vw 10vw;
}

.posts-box .post{
    margin: 1vw;
    padding: 1.2vw 1vw;
    width: 20vw;
}

.posts-box .selected{
    background: linear-gradient(23.98deg, #CFCFCF -75.21%, rgba(230, 230, 230, 1) 117.08%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)) drop-shadow(0px 4px 4px rgba(249, 115, 58, 0.25));
    border-radius: 5px;
}

.posts-box .post h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
}

.posts-box .post p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(249, 115, 58, 0.25);
}

.posts-box hr{
    width: 70vw;
    height: 1px;
    background: #F9733A;
}

.working-process{

}

.working-process .header-text{
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: #000000;
}



